header {
  width: 800px;
  margin-inline: auto;
}
header .subttl {
  border-top: 2px solid;
  border-color: rgb(252, 187, 90);
  background-color: rgba(250, 243, 41, 0.618);
}
.simply-logo img {
  margin: 800px;
}

main {
  width: 800px;
  margin-inline: auto;
}
#featured {
  border-left: 3px solid;
  border-color: orange;
}
footer {
  width: 800px;
  margin-inline: auto;
}
